@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

<script>


    $(function () {

        $("#droppable_Japanese").droppable({ drop: drop });
        $("#droppable_Chinese").droppable({ drop: drop });
        $("#droppable_Korean").droppable({ drop: drop });
        $("#droppable_Thai").droppable({ drop: drop });

        $("#btnStartGame").click(function () {

            $("#btnStartGame").attr('disabled', true);
            $("#btnStartGame").text('Next Question...>');
            $("#droppable_Japanese").removeClass("ui-state-highlight");
            $("#droppable_Chinese").removeClass("ui-state-highlight");
            $("#droppable_Korean").removeClass("ui-state-highlight");
            $("#droppable_Thai").removeClass("ui-state-highlight");
            getPictureAPI();

        });

    });

    function getPictureAPI() {
        $.ajax({
            url: '/Home/getQuestionInfo',
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: {},
            success: function (result) {

                switch (result.Status) {
                    case 0:
                        setupPicture(result.data);
                        break;
                    case 1:
                        if (result.FaileCode === 1) {
                            $("#btnStartGame").attr('disabled', true);
                            $("#btnStartGame").text('The Game has been finished!');
                        }
                        break;
                    case 2:
                        alert("Unhandled Error Occurred!");
                        console.log(result);
                        $("#btnStartGame").attr('disabled', false);
                        break;

                }


            },
            error: function (req, status, errorObj) {
                alert("Unhandled Error Occurred!");
                $("#btnStartGame").attr('disabled', false);
                console.log(errorObj);

            }

        });


    }

    function setupPicture(picInfo) {
        $('img[id^="draggable_"]').remove();

        var picCounter = Math.floor(Math.random() * 1000) + 1;

        $('#gameImageContainer').prepend('<img id="draggable_' + picCounter + '" />');
        $('#gameImageContainer').prepend('<input type="hidden" id="questionId" value="' + picInfo.Id + '" />');
        console.log("!***" + picInfo);
        $("#draggable_" + picCounter).attr("src", picInfo.PictureAddress);
        $("#draggable_" + picCounter).draggable({ stop: dragStop, revert: false });
        $("#draggable" + picCounter).css({ display: 'inline' });

        move($("#draggable_" + picCounter));

    }

    function drop(event, ui) {

        $(this).addClass("ui-state-highlight");


        var draggable = $('img[id^="draggable_"]');
        draggable.draggable('disable');
        draggable.stop(true, false);
        saveResult($(this).attr('id'));
        draggable.fadeToggle('slow');
        $("#btnStartGame").attr('disabled', false);
    }

    function dragStop(event, ui) {
        console.log($(this));
    }

    function move(movingItem) {

        var gameContainerFooter = $("#gameContainerFooter");
        var diff = (gameContainerFooter.position().top - gameContainerFooter.outerHeight(true)) - movingItem.position().top;
        movingItem.animate({ bottom: `-=${diff}px` }, 3000, 'linear', moveFinished);

    }

    function moveFinished() {
        saveResult("N/A");
        $(this).draggable('disable');
        $(this).fadeToggle('slow');
        $("#btnStartGame").attr('disabled', false);
    }


    function saveResult(dropArea) {

        var userAnswer = null;
        var questionId = $("#questionId").val();

        switch (dropArea) {
            case "droppable_Japanese":
                userAnswer = 1;
                break;
            case "droppable_Chinese":
                userAnswer = 2;
                break;
            case "droppable_Korean":
                userAnswer = 3;
                break;
            case "droppable_Thai":
                userAnswer = 4;
                break;

        }


        $.ajax({
            url: '/Home/SaveQuestionResult',
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({ 'questionId': questionId, 'userAnswer': userAnswer }),
            success: function (result) {


                switch (result.Status) {
                    case 0:
                        var data = result.data;
                        $("#lblPositiveScore").text(data.PositiveScore);
                        $("#lblNegativeScore").text(data.NegativeScore);
                        break;
                    case 1:
                        break;
                    case 2:
                        alert("Unhandled Error Occurred!");
                        $("#btnStartGame").attr('disabled', false);
                        console.log(result);
                        break;

                }
            },
            error: function (req, status, errorObj) {
                alert("Unhandled Error Occurred!");
                $("#btnStartGame").attr('disabled', false);
                console.log(errorObj);

            }

        });

    }
</script>


<div id="gameContainer" class="container box">

    <div id="gameContainerHeader" class="row h-50 ">

        <div id="droppable_Japanese" class="col text-center align-items-center ">
            <h1>  Japanese</h1>

        </div>
        <div id="gameImageContainer" class="col-1 text-center justify-content-center">

        </div>
        <div id="droppable_Chinese" class="col text-center justify-content-center">
            <h1>  Chinese</h1>
        </div>
    </div>





    <div class="row h-50">
        <div id="droppable_Korean" class="col text-center justify-content-center">
            <h1> Korean</h1>
        </div>
        <div class="col-1">

        </div>
        <div id="droppable_Thai" class="col text-center justify-content-center">
            <h1> Thai </h1>
        </div>
    </div>


    <div class="row ">
        <div class="col-3 text-center">

            <h1 id="lblNegativeScore" class="bg-danger fw-bolder ">0</h1>


        </div>
        <div id="gameContainerFooter" class="col-6 text-center justify-content-center">


            <button id="btnStartGame" class="btn btn-primary">Start Game</button>


        </div>
        <div class="col-3 text-center">

            <H1 id="lblPositiveScore" class="bg-success fw-bolder">0</H1>


        </div>
    </div>
</div>


